@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog site</h1>
    <p>De meest veilige die er bestaat *kuch kuch kuch*, sorry ik verslikte me</a>.</p>
</div>
